{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title> 
    </head>
    <body>
        <nav>
            <div>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Signup</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {% endif %}

                    
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'create_receipt' %}">Create Reciept</a></li>
                    <li><a href="{% url 'create_category' %}">Create Catagory</a></li>
                    <li><a href="{% url 'account_list' %}">Accounts</a></li>
                    <li><a href="{% url 'category_list' %}">Expenses</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    {% block content %}{% endblock content %}
    </body>
</html>