{% extends 'base.html' %}

{% block content %}
<main>
    <main>
        <h1>Expenses</h1>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for category in category %}
            <tr>{{ category.name }}</tr>
            <tr>{{ category.category.count }}</tr>
            {% endfor %}
        </tbody>
    </main>
</main>
{% endblock content %}